.container
  %h1.header-container 
    = "Edit Person: " + @person.full_name
  %br

  .jumbotron
    = form_for("people", html: {method: "patch"}) do
      = render :partial => "person_form"  
      .row
        = submit_tag 'Update Person', class: "btn btn-default"