.container
	%h1 Create a submittal
	= render :partial => "partials/alert" 

	.jumbotron
		= form_tag family_submittals_path(@family.id) do
			= render :partial => "submittals/submittal_form" , locals: {name: "submittal"}
			%br
			.row
				= submit_tag 'Create Submittal', class: 'btn btn-default'

// Need a button to toggle follow up? Need to handle the checkmark in back-end too
// Need to change to satisfy front-end for task_users (grab which users?)
