.container
  %h1
  - flash.each do |type, msg|
    %strong
      = msg
 
  - if @user.role === "admin" 
    .resource-container
      = react_component("CreateResource", {title:"Family", url:new_family_path, color: '#E3B505'}, {:style => "display:inline-block"})
 
  .jumbotron 
    .family-container
      %h2 Families
      = react_component("FamilyList", {families: @families, role: @user.role})
