.container
	%h1 Create a Family
	.jumbotron
		= form_tag families_path do
			.row		
				= label :family, :family_name, 'Family Name'
				%br
				.col-xs-4.no-left-padding.bot-padding
					= text_field :family, 'family_name', class: "form-control"
			%br
			.row
				= submit_tag 'Create Family', class: "btn btn-default"
