.container

  %h1.header-container
    = @family.family_name
  %br

  .container
    - flash.each do |type, msg|
      %strong
        = msg

  .jumbotron
    .people-container
      %h2 People in your Family
      %br
      = react_component("PeopleList", {people: @people, role: @user.role})
  
    - if !@user.nil? and @user.role == "admin"
      = button_to 'Add Person', new_family_person_path(@family.id), :method => :get, class: 'btn btn-default'

  .jumbotron 
    %h2 Submittals
