.container
  %h1 
    = "Welcome " + @user.full_name
  - flash.each do |type, msg|
    %strong
      = msg

  .resource-container
    = react_component("CreateResource", {title:"User", url:new_user_path, color: '#74D3AE'}, {:style => "display:inline-block"})
    = react_component("CreateResource", {title:"Family", url:families_path, color: '#CBB3BF'}, {:style => "display:inline-block"})
