.container
  %h1.header-container 
    = "Edit User: " + @user.full_name
  %br

  .jumbotron
    = form_for(@user, html: {method: "patch"}) do
      = render :partial => "form" 
      .row
        = submit_tag 'Update User', class: "btn btn-default"