.container
  %h1
  - flash.each do |type, msg|
    %strong
      = msg
  
  - if @user.role === "admin"
    .resource-container
      = react_component("CreateResource", {title:"User", url:new_user_path, color: '#74D3AE'}, {:style => "display:inline-block"})

    .jumbotron
      .user-container
        %h2 Users
        = react_component("UserList", {users: @users, user: @user})