.container
  %h1.header-container 
    = "Users"
  - flash.each do |type, msg|
    %strong
      = msg
  
  - if @user.role === "admin"
    .resource-container
      = react_component("CreateResource", {title:"User", url:new_user_path, color: '#74D3AE'}, {:style => "display:inline-block"})
    .user-container
      %h2 Users
      = react_component("UserList", {users: @users, user: @user})