.container
	%h1 Create a User
	- flash.each do |type, msg|
		%strong
			= msg
	.jumbotron
		= form_tag users_path do
			= render :partial => "form"
			.row
				= submit_tag 'Create User', class: "btn btn-default"
