/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import url('https://rsms.me/inter/inter-ui.css');
@import "bootstrap-sprockets";
@import "bootstrap";
@import "navbar";
@import "users";
@import "families";
@import "submittals";

.desc {
	display: inline-block;
}

.no-border {
	border: 0 !important;
}

.blue-highlight {
	color: #6F9CF7;
}

.white-bg {
	background-color: white !important;
}

.no-left-padding {
	padding-left: 0;
}

.no-padding {
	padding: 0 !important;
}

.vertical-align-top {
	vertical-align: top !important;
}

.vertical-align-middle {
	vertical-align: middle !important;
}

.padding-left {
	padding-left: 10px;
}

.padding-top {
	padding-top: 10px;
}

.bot-padding {
	padding-bottom: 10px;
}

.no-bot-padding {
	padding-bottom: 0 !important;
}

.jumbotron {
	background-color: white;
	border: 1px solid #6F9CF7;
}

.jumbotron-inverse {
	background-color: #6F9CF7 !important;
	border: 0 !important;
}

.link {
	color: black;
}

.link:hover {
	text-decoration: none;
}

.link:visited {
	color: #6F9CF7;
}