#navbar {
	background-color: #EEE;
	height: 70px;
	font-family: 'Inter UI';
}

.center-navbar {
	text-transform: uppercase;
	margin-right: 20px;
	font-size: 14px;
	font-weight: 500;
	height: 100%;
	display: flex;
	align-items: center;
}

.navbar-link {
	color: #6F9CF7;
}

.navbar-link:hover {
	text-decoration: none;
}

.navbar-link:visied {
	color: #6F9CF7
}
