// Place all the styles related to the Submittals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p {
	font-size: 14px !important;
	font-weight: 400 !important;
	font-family: "Helvetica Neue" !important;
}