p {
	font-style: 'Inter UI';
	font-size: 14px;
	font-weight: 300 !important;
}

.header-container {
	padding: 10px;
	padding-left: 0;
	border-bottom: 6px solid black;
}

.resource-container {
	margin: 0 auto;
	display: flex;
	justify-content: left;
}

.wrapper {
	cursor: pointer;
	display: inline-block;
	padding: 20px;
	width: 200px;
	height: 200px;
	margin: 20px;
	margin-left: 0;
}

.wrapper-header {
	margin-top: 0;
}

.btn {
	margin-right: 10px;
}

.input-group {
	padding-bottom: 7.5;
	input {
		width: 250px !important;
	}
}

.date {
	color: #3993DD;
}